* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background: red;
    max-width: 75%;
    margin-right: auto;
    margin-left: auto;
}

main {
    background: green;
    text-align: center;
    padding-top: 1px;
}

.nav>li {
    display: inline;
    list-style-type: none;
    padding: 2.5px;
}

.nav>li>a {
    color: goldenrod;
}

.nav>li>a:hover {
    color: black;
    font-family: monospace;
    font-style: italic;
}