    @import url("https://fonts.googleapis.com/css2?family=Honk&family=Roboto+Mono:ital,wght@1,600&display=swap");

body {
    background-color: #f3f4f7; /* Light gray background */
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
}

.navbar {
    background-color: #e74c3c; /* Pokemon red */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    margin-right: auto;
}

.navbar-link {
    color: #ffffff; /* White text */
    text-decoration: none;
    font-weight: bold;
}

.navbar-link:hover {
    text-decoration: underline;
}

.container {
    background-color: #ffffff; /* White container background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 50px;
}

h2 {
    color: #e74c3c; /* Pokemon red */
    text-align: center;
}

.form-label,
.btn {
    color: #3498db; /* Pokemon blue */
}

.btn-primary {
    background-color: #e74c3c; /* Pokemon red */
    border-color: #e74c3c;
}

.btn-primary:hover {
    background-color: #c0392b; /* Darker red on hover */
    border-color: #c0392b;
}

img {
    border-radius: 10px;
    max-width: 100%; /* Make the image responsive */
    display: block;
    margin: 0 auto; /* Center the image */
}

.font-semibold {
    font-weight: bold;
}

#pokemon_info {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Three columns */
    gap: 20px;
    align-items: center;
}

.pokemon-name,
.pokemon-id,
.pokemon-type {
    text-align: center;
    margin-bottom: 10px;
}

.pokemon-type p {
    display: inline-block;
    margin: 0 5px; /* Add some spacing between types */
}

.pokemon-details {
    margin-top: 20px;
}

/* New styles added for profile card-like layout */
.pokemon-name {
    text-align: center;
}

.pokemon-id {
    text-align: center;
}

.pokemon-type {
    text-align: center;
}
