body {
    background-image: url("../imgs/404bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



/*style the table element on this page?*/

.table {
    text-align: center;
    width: fit-content;
    margin: auto;
}

/*style the subelements of a table*/
